/*-----global styles-----*/
body {
	background-color: rgb(249, 249, 249);
	box-sizing: border-box;
	font-family: 'Arsenal', sans-serif;
	margin: 0;
}

/*-----small screen closed nav-----*/
#nav-hide {
	display: none;
}

#close-hide {
	display: none;
}

.fa-bars {
    font-size: 2em;
    padding: .1em .5em .5em;
}

.fa-bars:hover {
	color: pink;
}

/*-----small screen open nav-----*/
#hamburger-hide {
	display: none;
}

.nav-small {
	background-color: rgba(0, 0, 0, 1);
	display: flex;
	height: 215px;
	justify-content: space-between;
	width: 100%;
}

.nav-links {
	display: flex;
	flex-direction: column;
	text-align: left;
}

a {
	color: white;
	font-size: 1.4em;
	padding: 1em 0 0 1em;
	text-decoration: none;
}

.close-show {
	color: white;
	font-size: 2em;
	padding: .5em;
	z-index: 1;
}

/*-----intro-----*/
.intro-container, .name-title-container{
	align-items: center;
	display: flex;
	flex-direction: column;
}

.profile-pic-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 350px;
}

.profile-pic {
	border-radius: 5%
	border: 1px solid white;
	height: 200px;
	width: 200px;
}

h1 {
	font-size: 1.7em;
	margin: 0.3em 0 0 0;
}

.title {
	font-size: 1.5em;
	margin-bottom: 1em;
	padding: 0;
}

/*----about-----*/

.about-container {
	background-color: grey;
	display: flex;
	flex-direction: column;
}

h2 {
	margin: 0;
	padding-top: 1em;
	text-align: center;
}

p, .contact-form {
	font-size: 1.2em;
	margin: 0 .5em 0;
	padding: 1em 1em 2em;
    line-height: 1.6em;
}

.portfolio-container {
	align-items: center;
	background-color: pink;
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 100%;
}

.carousel-container {
	background-color: lightgrey;
	height: 300px;
	margin-top: 1em;
	width: 95%;
}

/*-----Testimionials-----*/
#test-hide {
	display: none;
}

.test-container {
	background-color: lightgreen;
}

/*-----contact-----*/

.contact-container {
	background-color: lightblue;
	height: 600px;
}

.contact-form {
	display: flex;
	flex-direction: column;
}

input, textarea, button {
	border: 1px solid white;
	font-size: 1em;
	padding: 1em;
}

input, textarea {
	margin-bottom: 1em;
}

textarea {
	height: 100px;
}

button {
    width: 30%;
}

/*-----footer-----*/

footer {
	background-color: black;
	color: white;
	text-align: center;
}

footer p {
	padding: 1em;
}

/*-------------------------------------*/
/*     MEDIUM SCREENS 700PX AND UP     */
/*-------------------------------------*/

@media only screen and (min-width: 700px) {
 
	/*-----intro med screens-----*/

	.intro-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.profile-pic-container {
		width: 50%
	}

	.name-title-container {
		display: block;
		width: 50%
	}

	.title {
		margin: 0;
	}

	/*-----about med screens-----*/

	.profile-pic-container {
		display: none;
	}

	.name-title-container {
		margin-right: 4em;
	   	text-align: right;
	   	width: 100%;
	}

	.intro-container {
		background-image: url("../images/FPO_background.jpg");
		background-size: cover;
		height: 200px;
	}

	.about-container {
		display: block;
	}

	.about-paragraphs {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.about-text {
		margin: 0;
		width: 50%;
	}

	.about-text:nth-of-type(1) {
		padding-left: 3em;
	}

	.about-text:nth-of-type(2) {
		padding-right: 3em
	}

	.test-container {
		padding: 0 3em;
	}

	.contact-form {
		margin-left: 3em;
		margin-right: 3em;
	}

	button {
		width: 40%;
	}

}

/*-------------------------------------*/
/*     LARGE SCREENS 960PX AND UP     */
/*-------------------------------------*/




