/*-----global styles-----*/
body {
	margin: 0;
	font-family: 'Arsenal', sans-serif;
}

/*-----small screen closed nav-----*/
#nav-hide {
	display: none;
}

#close-hide {
	display: none;
}

.fa-bars {
    font-size: 2em;
    padding: .1em .5em .5em;
}

.fa-bars:hover {
	color: pink;
}

/*-----small screen open nav-----*/
#hamburger-hide {
	display: none;
}

.nav-small {
	display: flex;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 1);
	height: 215px;
	width: 100%;
}

.nav-links {
	text-align: left;
	display: flex;
	flex-direction: column;
}

a {
	color: white;
	font-size: 1.4em;
	padding: 1em 0 0 1em;
	text-decoration: none;
}

.close-show {
	color: white;
	font-size: 2em;
	padding: .5em;
	z-index: 1;
}

/*-----intro-----*/
.intro-container, .name-title-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: yellow;
}

.profile-pic-container {
	width: 350px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.profile-pic {
	width: 200px;
	height: 200px;
	border: 1px solid white;
	border-radius: 5%
}

h1 {
	font-size: 1.7em;
	margin: 0.3em 0 0 0;
}

.title {
	font-size: 1.5em;
	margin-bottom: 1em;
	padding: 0;
}

/*----about-----*/

.about-container {
	background-color: grey;
	display: flex;
	flex-direction: column;
}

h2 {
	text-align: center;
	margin: 0;
	padding-top: 1em;
}

p, .contact-form {
	padding: 1em 1em 2em;
	margin: 0 .5em 0;
	font-size: 1.2em;
    line-height: 1.6em;
}

.portfolio-container {
	background-color: pink;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 400px;
	width: 100%;
}

.carousel-container {
	background-color: lightgrey;
	height: 300px;
	margin-top: 1em;
	width: 95%;
}

/*-----Testimionials-----*/
#test-hide {
	display: none;
}

.test-container {
	background-color: lightgreen;
}

/*-----contact-----*/

.contact-container {
	background-color: lightblue;
	height: 600px;
}

.contact-form {
	display: flex;
	flex-direction: column;
}

input, textarea, button {
	padding: 1em;
	font-size: 1em;
	border: 1px solid white;
}

input, textarea {
	margin-bottom: 1em;
}

textarea {
	height: 100px;
}

button {
    width: 30%;
}

/*-----footer-----*/

footer {
	background-color: black;
	color: white;
	text-align: center;
}

footer p {
	padding: 1em;
}

/*-------------------------------------*/
/*     MEDIUM SCREENS 700PX AND UP     */
/*-------------------------------------*/

@media only screen and (max-width: 700px) {
















/*end of medium media query*/	
}







